<div class="topnav" >
  <a href="/fields">Home</a>
  <a href="/boulders">All Boulders</a>
</div>

<h1><%= @field.field_name%></h1>

<% @boulders.each do |boulder| %>
<h3><%= boulder.name %></h3>
<p>Grade: <%= boulder.v_grade %></p>
<p>Sent: <%= boulder.tick %></p>
<p>Created: <%= boulder.created_at %></p>
<p>Updated: <%= boulder.updated_at %></p>
<% end %>