<div class="topnav" >
  <a href="/fields">Home</a>
  <a href="/boulders">All Boulders</a>
</div>

<h1><%= @field.field_name%></h1>

<p><a href="/fields/<%= @field.id %>/boulders/new">Add Boulder</a></p>

<%= link_to "Sort Boulders", :sort_by => "name" %>

<% @boulders.each do |boulder| %>
<h3><%= boulder.name %></h3>
<p><a href="/boulders/<%= boulder.id %>/edit">Update Boulder</a></p>
<p>Grade: <%= boulder.v_grade %></p>
<p>Sent: <%= boulder.tick %></p>
<p>Created: <%= boulder.created_at %></p>
<p>Updated: <%= boulder.updated_at %></p>
<% end %>