<h1><%= @field.field_name %> </h1>
<p>Area Name: <%= @field.field_name %></p>
<p>Total Boulders: <%= @field.boulders.count %></p>
<p>In Season: <%= @field.in_season %></p>
<p>Total Sends: <%= @field.total_ticks %></p>